:root{ --discord_color: #2f3135;}

.sidebarChannel:hover > h4 {color: #fff; background-color: #40464b;}

.sidebarChannel > h4 {display: flex; align-items: center; background-color: var(--discord_color); padding-left: 15px; color: gray; cursor: pointer;}

.sidebarChannel__hash {font-size: 30px; padding: 8px;}